.loader {
    margin: 25px auto;
    display: block;
    width: 48px;
    height: 48px;
    border: 5px solid #4279FF;
    border-bottom-color: #AA56FB;
    border-radius: 50%;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 